.cyber {
  color: #fffafa;
  position: relative;
  padding: 10px;
  margin: 0;

  border: solid 20px;
  border-image: url('cyber-border.svg');
  border-image-slice: 45 fill;
}

div.cyber > p {
  margin: 0;
  color: #fffafa;
}

.cyber + * {
  margin-top: 80px;
}

.cyber > p + p {
  margin-top: 1rem;
}

