.cyber {
  color: #fffafa;
  position: relative;
  padding: 10px;
  margin: 0;

  border: solid 20px;
  border-image: url('cyber-border.svg');
  border-image-slice: 45 fill;
}

div.cyber > p {
  margin: 0;
  color: #fffafa;
}

* + .cyber {
  margin-bottom: 80px;
}

.cyber > p + p {
  margin-top: 1rem;
}

h2 + .cyber { 
  padding-top: 2.5rem;
}

h2:has( +.cyber) {
  color: black;
  font-size: 1.5rem;
  background: #8ffe09;
  position: absolute;
  z-index: 2;
  padding: 5px 1.5rem 5px 1rem;
  margin: 0;

  /* The border magic! */
  clip-path: polygon(100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0% 100%, 0 0);
}
