body {
  background: #18181a;
  color: lime;
  font-family: "Tilt Neon", sans-serif;
}

main {
  max-width: 40rem;
  margin: 10rem auto 0 auto;
  padding: 0 15px;

  font-size: 1.5rem;
  text-align: center;
}

h1, h2 {
  font-weight: lighter;
  font-style: italic;
}

a {
  text-decoration: none;
  font-family: "Tilt Neon", sans-serif;
  transition: color text-shadow;
  transition-duration: 0.3s;
}

p {
  color: #4949f3;
}

.bottom-space {
  margin-bottom: 3rem;
}

.linklist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.linklist > .link {
  color: grey;
}

/* a:hover {
  text-shadow:
  	 1px  1px 5px,
  	-1px -1px 5px,
  	 1px -1px 5px,
  	-1px  1px 5px;
}
*/
.spotify:hover {
  color: #1cd360;
}

.github:hover {
  color: #763fc5;
}

.codeberg:hover {
  color: #4793cc;
}

.steam:hover {
  color: #00acef;
}

.neocities:hover {
  color: #f59c32;
}

.counter {
  color:  grey;
}

.thunderwaregames {
  color: #b03d3d
}
.small-web {
  color: #e87000
}

.my {
  color: #ff395a;
}

.bottom-back{
  padding-bottom: 10rem;
}
