body {
  background: #1b1b1b;
  color: deepskyblue;
  font-family: "Tilt Neon", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  max-width: 40em;
  margin: 10em auto auto auto;
  padding: 0 50px;

  font-size: 1.5em;
  text-align: center;
}

h1 {
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
  font-size: 2em;
}

.linklist {
  margin-bottom: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.linklist > .link {
  text-decoration: none;
  font-family: "Tilt Neon", sans-serif;
  color: grey;
}

.linklist > .link:visited {
  /* color: dimgrey */
}

.linklist > .link:hover {
  text-shadow:
  	 1px  1px 5px,
  	-1px -1px 5px,
  	 1px -1px 5px,
  	-1px  1px 5px;
}

.spotify:hover {
  color: #1cd360;
}

.github:hover {
  color: #763fc5;
}

.codeberg:hover {
  color: #4793cc;
}

.steam:hover {
  color: #203d5a;
}

.neocities:hover {
  color: #f59c32;
}

.counter {
  color:  grey;
}
